/* Aqui va el css */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fdfdfd;
}

header {
    background: #f2d1d1;
    padding: 15px;
}

.arriba {
    display: flex;
    align-items: center;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

.titulo {
    font-size: 22px;
    margin: 0;
}

.subtitulo {
    font-size: 14px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #444;
    font-weight: bold;
    font-size: 14px;
}

section {
    padding: 20px;
}

.mi {
    display: flex;
    flex-wrap: wrap;
}

.mi .texto {
    max-width: 500px;
    margin-right: 20px;
}

.mi p {
    margin-bottom: 8px;
    text-align: justify;
}

.foto-bio img {
    width: 180px;
    border-radius: 10px;
}


.galeria {
    margin-top: 10px;
}

.tarjeta {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.tarjeta img {
    width: 120px;
    height: auto;
    display: block;
    margin: 0 auto 8px auto;
}

.tarjeta p {
    font-size: 14px;
    text-align: justify;
}

.lista-habilidades {
    padding-left: 20px;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 6px;
    margin-top: 5px;
}

.formulario button {
    margin-top: 10px;
    padding: 8px;
    background: #333;
    color: white;
    border: none;
}

footer {
    background: #eaeaea;
    padding: 15px;
    text-align: center;
    font-size: 13px;
}
